*{
    padding: 0;
    margin: 0;
}
.nav-link #p:hover{
    color: #5db955;
}
.d-flex{
    padding-left: 25px;
    margin-top: 10px;
    width: 350px;
    height: 50px;
}
.form-control{
    width: 300px;
    height: 40px;
}
.d-flex button{
    align-items: center;
    width: 80px;
    height:30px;
    margin-top: 10px;
    background-image: linear-gradient(#16be40,#1f3d90);

}
.carousel-inner h1{
    padding-bottom: 250px;
    text-align: center;
}
.d-flex button .btn1{
    width: 250px;
    height: 50px;
    align-items: center;
    margin-bottom: 20px;
}
.feature{
    padding: 50px 0;
}
h1{
    text-align:center;
    padding-bottom: 30px;
}
.feature-img img{
    width: 100%;
}
.price{
    width: 50px;
    height: 50px;
    background: #ff5722;
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    position: absolute;
    left: 20px;
    bottom: -50px;
}
.feature-img{
    position: relative;
}
.rating{
    padding: 3px;
    float: right;
    bottom: -1px;
    right: 0;
}
.feature .fa-solid{
    font-size: 15px;
    color: #ff5722;
}
.feature-detail{
    box-shadow: 5px 5px 5px  rgb(218, 100, 100);
    padding: 20px;
    text-align: justify;
}
.feature-detail h4{
    font-weight:600;
    margin-top: 23px;
}
.feature-detail .fa-solid{
    margin-right: 5px;
}
.feature-box{
    box-shadow: 5px 5px 5px  rgb(190, 59, 59);
}
.butn{
    background-color: rgb(24, 105, 55);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* margin-top: 20px; */
    color: rgb(145, 31, 31);
    outline: 2px solid rgb(236, 81, 81);
    padding: 30px 60px;
    position: relative;
    overflow:hidden;
    transition: 1s;
    border-radius: 10px;
}
.butn:hover{
    color:rgb(66, 11, 66);
}
.butn::before{
    content: '';
    position: absolute;
    top:0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: rgb(44, 167, 216);
    transform: skewX(12deg);
    z-index: -1;
    transition: width 1s;
}
.butn:hover::before{
    width: 150%;
}
.btn{
    align-items: center;
    padding-top: 10px;
    width: 200px;
    height: 60PX;

}
.modal-body input{
    width: 350px;
}
.modal-body button{
    background-color: #ff5722;
    
}
.gallery{
    padding: 50px 0;
    background: #efefef;
}
.gallery-box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(129, 13, 19);
}
.gallery-box img:hover{
    transform: scale(1.1);
}
.gallery-box h4{
    display: block;
    color:#fff;
    text-shadow: -2px 2px 2px #000;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}
.gallery-box {
    position: relative;
    margin-bottom: 30px;
}
.user-feed{
    padding: 50px 0;

}
.rev{
    content: '\201d';
    text-align: center;
    box-shadow: 5px 5px 5px grey;
    padding-bottom: 50px;
}
.rev p{
    padding: 50px 10px 10px 10px;
}
.user-feed img{
    width: 70px;
    height: 80px;
    border-radius: 50%;
    align-items: center;
    position: relative;
    margin-top: -10x;
}
.footer{
    padding: 80px 10px;
    background-image: linear-gradient(#2d557d,#9610fb);
    color: #fff;
}
.footer h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}
.footer p{
    font-size: 13px;
    text-align: justify;
    padding-right: 30px;
}
.footer .row .fa-solid{
    padding-right: 20px;
    font-size: 15px;
}
.footer .row .fa-brands{
    padding-right: 20px;
    font-size: 15px;
}
.footer hr{
    margin-top: 10px;
    color: #efefef;
}
.footer .copy{
    text-align: center;
}

